
:root {
    --header-bg: rgb(10, 32, 156);
    --header-outline: rgb(7, 21, 99);
    --header-color: rgb(192, 201, 254);
    --header-link: rgb(255, 244, 179);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: .5em 0;
    margin-bottom: 1em;

    background-color: var(--header-bg);
    color: var(--header-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    outline: 4px solid var(--header-outline);
    border-radius: 8px;
}

.header-titulo {
    font-size: 1.5em;
    margin-left: 1em;
}

.header-links {
    height: max-content;
}

.header-links a {
    color: var(--header-link);

    text-decoration: none;
    margin-right: 1em;
}

.centralizar {
    display: block;
    width: fit-content;
    margin: 0 auto;
}